<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión de Inventarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script>
        function changeColor(val){
            document.getElementById("modify"+val).setAttribute("class", "btn btn-primary")
            document.getElementById("remove"+val).setAttribute("class", "btn btn-primary")
            document.getElementById("inactivate"+val).setAttribute("class", "btn btn-primary")
            document.getElementById("reactivate"+val).setAttribute("class", "btn btn-primary")
        }
        function mod(val){
            changeColor(val)
            document.getElementById("modify"+val).setAttribute("class", "btn btn-success")
            document.getElementById("nom"+val).removeAttribute("readonly")
            document.getElementById("est"+val).setAttribute("value", "A")
        }
        function del(val){
            changeColor(val)
            document.getElementById("remove"+val).setAttribute("class", "btn btn-danger")
            document.getElementById("nom"+val).setAttribute("readonly", "true")
            document.getElementById("est"+val).setAttribute("value", "*")
        }
        function inac(val){
            changeColor(val)
            document.getElementById("inactivate"+val).setAttribute("class", "btn btn-success")
            document.getElementById("nom"+val).setAttribute("readonly", "true")
            document.getElementById("est"+val).setAttribute("value", "I")
        }
        function reac(val){
            changeColor(val)
            document.getElementById("reactivate"+val).setAttribute("class", "btn btn-success")
            document.getElementById("nom"+val).setAttribute("readonly", "true")
            document.getElementById("est"+val).setAttribute("value", "A")
        }
    </script>
</head>
<body>
    <h1 class="text-center mt-5 nb-5 text-primary">Sección</h1>

    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <th scope="col"> Código de Sección</th>
                        <th scope="col"> Nombre de Sección</th> 
                        <th scope="col"> Estado de Registro</th>
                        <th scope="col"> Editar</th>
                    </thead>

                    <tbody>
                        {% for d in data %}
                        <tr>
                            <td>{{d.SecCod}}</td>
                            <td>{{d.SecNom}}</td>
                            <td>{{d.SecEstReg.copy().pop()}}</td>
                            <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.SecCod}}" data-bs-toggle="modal" data-bs-target="#modal{{d.SecCod}}">Editar</button></td>
                            </tr>

                        <div class="modal fade" id="modal{{d.SecCod}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">{{d.SecNom}}</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/edit/{{d.SecCod}}" method="post">
                                        <label> Código</label>
                                        <input type="text" class="form-control mb-3" id="cod{{d.SecCod}}" name="seccod" value="{{d.SecCod}}" readonly></input>
                                        <label> Nombre</label>
                                        <input type="text" class="form-control mb-3" id="nom{{d.SecCod}}" name="secnom" value="{{d.SecNom}}" readonly></input>
                                        <label> Estado de Registro</label>
                                        <input type="text" class="form-control mb-3" id="est{{d.SecCod}}" name="secestreg" value="{{d.SecEstReg.copy().pop()}}" readonly></input>
                                    
                                </div>
                                <div class="modal-footer">
                                    <div class="row mb-3">
                                        <div class="col">
                                            <button type="button" id="modify{{d.SecCod}}" onclick="mod('{{d.SecCod}}')" class="btn btn-primary">Modificar</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" id="remove{{d.SecCod}}" onclick="del('{{d.SecCod}}')" class="btn btn-primary">Eliminar</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" id="inactivate{{d.SecCod}}" onclick="inac('{{d.SecCod}}')" class="btn btn-primary">Inactivar</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" id="reactivate{{d.SecCod}}" onclick="reac('{{d.SecCod}}')" class="btn btn-primary">Reactivar</button>
                                        </div>
                                    </div>
                                </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                    </div>
                                </form>
                              </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>    
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col text-center">
                        <button class="btn btn-primary btn-sm " data-bs-toggle="modal" data-bs-target="#modalCreate">Adicionar</button>

                        <div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">Ingresando nuevos datos</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/section" method="POST">
                                        <label> Código de la Sección </label>
                                        <input type="text" class="form-control mb-3" name="seccod"></imput>                                                                                                     
                                        <label> Nombre de la Sección </label>
                                        <input type="text" class="form-control mb-3" name="secnom"></imput>                                                                                     
                                        <label> Estado de Registro </label>
                                        <input type="text" class="form-control  mb-3" name="secestreg" value="A" readonly></imput>                                       
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-primary">Actualizar</button>
                                        </div>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>